header {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  background-color: $green;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  
  span {
    font-size: $ms-size;
  }
}