body {
    overflow: hidden;
}

.panel {
    height: 100vh;
    width: 100vw;
    text-align: center;
}
  
.panel span {
    position: relative;
    display: block;
    overflow: visible;
    top: 50%;
    font-size: 80px;
}
  
.panel.blue {
    background-color: #3883d8;
}
  
.panel.turqoise {
    background-color: #38ced7;
}
  
.panel.green {
    background-color: #22d659;
    margin-bottom: 800px;
}
  
.panel.bordeaux {
    background-color: #953543;
}
