main {
  background-color: $background;
}

.hero {
  width: 100%;
  height: 100vh;

  .hero-image {
    height: 100%;
    width: 100%;
  }
}

h2 {
  @media screen and (min-width: 1024px) {
    font-size: $xl-size;
  }
}

.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    width: 80%;
  }

  .description{
    text-align: center;
    font-size: $ms-size;
    padding: 80px 20px;
    @media screen and (min-width: 768px) {
      padding: 100px 120px;
    }
    @media screen and (min-width: 1024px) {
      padding: 120px 140px;
    }
  }
  .gallery-grid {
    display: grid;
    justify-content: center;
    grid-template-areas: 
      "img1"
      "img2";
    grid-template-columns: 300px;
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    @media screen and (min-width: 640px) {
      grid-template-areas: 
      "img1 img3"
      "img2 img3";
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: repeat(2, 300px);
    }
    .gallery-img1 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-area: img1;
    }
    .gallery-img2 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-area: img2;
    }
    .gallery-img3 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      grid-area: img3;
      display: none;
      @media screen and (min-width: 640px) {
        display: block;
      }
    }
  }
  .about-grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "h2"
    "p";
    @media screen and (min-width: 640px) {
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
    "h2 ."
    ". p";
    margin-top: 80px;
    }
    h2 {
      grid-area: h2;
      @media screen and (min-width: 640px) {
        margin-bottom: 0;
        text-align: end;
      }
    }
    p {
      grid-area: p;
    }
  }
}
.parallax {
  background-image: url('../images/coffee-landscape.jpg');
  background-attachment: fixed;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin: 80px 0;
  @media screen and (min-width:1024px) {
    height: 400px;
  }
}